Relax message parsing requirement on CRLF line endings

[RFC 7230 Section 3.5](http://tools.ietf.org/html/rfc7230#section-3.5) says:

> In the interest of robustness, a server that is expecting to receive
> and parse a request-line SHOULD ignore at least one empty line (CRLF)
> received prior to the request-line.

and

> Although the line terminator for the start-line and header fields is
> the sequence CRLF, a recipient MAY recognize a single LF as a line
> terminator and ignore any preceding CR.

Both points are currently not implemented as such.

Note that any changes here should also be done to the `BodyPartParser` so that MIME parsing also benefits from the more lenient parsing approach.

/cc @jrudolph @RichardBradley 


Ticket moved to github.com/akka/akka-http Rationale for the move discussed here: akka/akka-meta#27

If you are interested in contributing or tracking this issue, please comment in akka-http instead from now on :-)
