Retry Pattern Enhancement

Today akka offers  akka.pattern.RetrySupport in order to execute something that returns a future several times with a certain delay between attempts until either success or the number of attempts is exhausted.

Unfortunately this does not support scenarios where we need control  the delay amount depending on the interim future result. Example:
1) The application needs to http invoke a server and the server provides a http response with a "Retry-After:30 seconds" header(potentially increasing Retry-After delay amounts, across interim responses until success) 

2) The application needs to http invoke a server and the server provides a http response with 404 Not found. It makes no sense to for the app to exhaust all the attempts.


Here is a possible implementation:

- attempt - something to execute that returns a future
- retries   -  number of retries 
- failureDelay - we need a fallback delay in case  "attempt"  could not execute at all(i.e could not send a request because of connection down)
-  delayFn: T => Option[FiniteDuration]:  - the function that analyses T and guides the `retryWithCustomDelay` function in its retry preocess.  If `delayFn` returns None then we signal that we do not want any new attempts otherwise we signal that we do want a new attempt with the custom delay specified in Some.

`
  def retryWithCustomDelay[T](attempt: () => Future[T], retries: Int,
                              failureDelay: FiniteDuration)(delayFn: T => Option[FiniteDuration])(
                               implicit ec: ExecutionContext, scheduler: Scheduler
                             ): Future[T] = {
    try {
      if (retries > 0) {
        attempt()
          .flatMap { t =>
            delayFn(t) match {
              case Some(newDelay) =>
                after(newDelay, scheduler) {
                  retryWithCustomDelay(attempt, retries - 1, failureDelay)(delayFn)
                }
              case _ =>
                Future.successful(t)
            }
          }
          .recoverWith {
            case NonFatal(_) => after(failureDelay, scheduler) {
              retryWithCustomDelay(attempt, retries - 1, failureDelay)(delayFn)
            }
          }
      } else {
        attempt()
      }
    } catch {
      case NonFatal(error) => Future.failed(error)
    }
  }
`

Here is an example usage:
`
// given
def responseBasedDelay(response: HttpResponse) : Option[FiniteDuration] = {
    response match  {
        case HttpResponse(StatusCodes.Success(_), _, _, _)  |
           HttpResponse(StatusCodes.ClientError(StatusCodes.NotFound.intValue), _, _, _) =>
          // for success or 404 Not Found we do not want to do any other attempts
          None
        case _ =>
         // checking a Retry-After header reveals a 3 seconds amount
         // signal that we want a new attempt after a custom delay 
          Some(3 seconds)
      }

// sendRequest(request: HttpRequest ): Future[HttpResponse] 

// call
retryWithCustomDelay[HttpResponse](
    attempt = () => {
        sendRequest(HttpRequest (...)),
      retries =5,
      failureDelay = 3)(responseBasedDelay)
`






<!--
Please report issues regarding specific projects in their respective issue trackers, e.g.:
 - Akka HTTP: https://github.com/akka/akka-http/issues
 - Alpakka:   https://github.com/akka/alpakka/issues
 - Akka Persistence Cassandra Plugin: https://github.com/akka/akka-persistence-cassandra/issues
 - ...

Please explain your use case precisely, and if possible provide an example snippet.

Thanks, happy hakking!
-->


Not quite sure I think this belongs in Akka, OTOH we already _do_ have the RetryPattern.

Another variation for inspiration: https://github.com/johanandren/futiles/#retrying-failed-futures---markattafutilesretry

Retry is a very common pattern, which is presumably why it is collected in [akka.pattern](https://doc.akka.io/api/akka/current/akka/pattern/index.html) along with other "usage patterns which involve actors, futures, etc. but are loosely enough coupled to (multiple of) them to present them separately from the core implementation".

HTTP is a key use case of akka, but the existing [RetrySupport](https://doc.akka.io/api/akka/current/akka/pattern/RetrySupport.html) isn't sufficient to address it: it doesn't provide the ability to respect `Retry-After` (RFC7231 §7.1.3), or to avoid retrying fatal errors like 404.

I think @livius-ungureanu 's proposal is a reasonable approach to this, and I think it is useful enough to include in akka.pattern - probably by extending the existing `RetrySupport#retry` with an additional optional parameter `delayFn`.

This issue is quite old. There are no new comments for 4 years.

Should this issue be closed?

I think we can keep it around, nothing we will work on but could still be a useful extension of the APIs.