Client: Implement `Expect / 100-Continue` support

Reopening ticket as client-side support seems to be still missing.

> Only if the client receives a 100 Continue response from the server is it allowed to continue sending the request entity. In this case it will receive another response after having completed request sending.
So this special feature breaks the normal "one request - one response" logic of HTTP!
It therefore requires special handling in all HTTP stacks (client- and server-side).

This is not 100% correct. 100-Continue is only an optimization technique, not a protocol constraint. It also doesn't really change the request/response semantics. Therefore the client *is actually allowed* to send the entity even if it didn't get 100-Continue (and most clients do send the entity after the timeout passes). This is because some servers do not support Expect-Continue header and in such case, the client is encouraged to wait for a 100-Continue and if it doesn't receive it, it is allowed to continue anyway. The server must discard these data but it must not interpret the received data as new requests, unless it gets the last-chunk marker. 

> 8.2.2 Monitoring Connections for Error Status Messages 
> An HTTP/1.1 (or later) client sending a message-body SHOULD monitor the network connection for an error status while it is transmitting the request. If the client sees an error status, it SHOULD immediately cease transmitting the body. If the body is being sent using a "chunked" encoding (section 3.6), a zero length chunk and empty trailer MAY be used to prematurely mark the end of the message. If the body was preceded by a Content-Length header, the client MUST close the connection. 

> 8.2.3. Use of the 100 (Continue) Status
> Because of the presence of older implementations, the protocol allows ambiguous situations in which a client may send "Expect: 100- continue" without receiving either a 417 (Expectation Failed) status or a 100 (Continue) status. Therefore, when a client sends this header field to an origin server (possibly via a proxy) from which it has never seen a 100 (Continue) status, the client SHOULD NOT wait for an indefinite period before sending the request body. 

It is amazing how many people got it wrong. 
- Http-Commons client got it wrong, because it doesn't send an empty chunk to mark the end of the body when it receives an error response during the transfer of the entity
- Jetty HTTP server seems to always close the connection on error, despite using chunked transfer mode (not really wrong, but suboptimal)
- Apache HTTP webserver also initially got it wrong, but they seem to partially fix it: https://bz.apache.org/bugzilla/show_bug.cgi?id=47087


Thanks, @pkolaczk, for rightfully noting that a client must not rely on an `Expect: 100-continue` from its side to always be handled as expected.
This compounds the implementation complexity on the client-side: In the presence of an `Expect: 100-continue` request header the client must be prepared to either see 1 or 2 responses for the request, depending on the status code of the first response.

Your second point, that the incoming side should always be watched while sending the request, is somewhat unrelated to 100-continue support. Also, section 8.2.2 of RFC2616, which you quote, has somewhat changed in RFC 7230. It is now in [section 6.5](http://tools.ietf.org/html/rfc7230#section-6.5) and reads:

> A client sending a message body SHOULD monitor the network connection for an error response while it is transmitting the request.  If the client sees a response that indicates the server does not wish to receive the message body and is closing the connection, the client SHOULD immediately cease transmitting the body and close its side of the connection.

While the bit about terminating chunked requests prematurely upon reception of an error response probably still holds it doesn't appear to be explicitly suggested by the spec anymore.


You're right, but the SHOULD applies only to the fact that it should not continue with sending the *full* body to save the bandwdth, however the general rules of transmitting messages still apply. Therefore it must either send the body (should be not full) or terminate the connection. This is to some degree not clear and often misinterpreted, but if the client gets the final error response instead of 100 Continue, it  MUST still finish the body part, either by sending it fully or at least the last chunk to somehow mark the end-of the message. If it wants to skip the body and it was not using chunked transfer encoding, it MUST disconnect. Immediate sending the next request on the same connection, without prior properly marking the end-of-body of the previous message is not allowed, because the server is still in the "expects body" state, not the "waiting for request" state. 

I fully agree.

> Many clients got the specs wrong, and that's why many servers actually always force Connection:close on any error response when expect-continue was in use. 

Yes, that's what I propose akka-http to behave like as well.
`Expect: 100-continue` is rare enough to prefer robustness over potential connection reuse in this case.