Add detection and clean handling of early responses

As the discussion in #16893 shows we should add proper server-side early response handling by:

1. Detecting when a user app sends an early response.
An early response is one that the HTTP layer receives from the user before we have dispatched the end of the request entity stream to the application.
An early response can by definition never be a "successful" response because the server application cannot determine that the request was successfully received in its entirety before having seen end-of-stream on the request entity. Therefore an early 2xx response is fishy.

2. When we receive an early response we should:
- log a warning if the response is a 2xx response
- add a `Connection: close` header
- potentially switch to a more aggressive TCP closing mode (#16899)


see also #16870 

This sounds good. The "more aggressive TCP closing mode" should ideally involve closing the response stream, rather than streaming all the data into a black hole - if the request is large, streaming it unnecessarily would be a waste of client, network, and server resources.

By "more aggressive TCP closing mode" I mean not relying on the default "confirmed close", because we probably won't be seeing an incoming FIN before having consumed the full request.
A "normal" close should do it in this case.

Yes, that sounds right. Thanks.

> By "more aggressive TCP closing mode" I mean not relying on the default "confirmed close", because we probably won't be seeing an incoming FIN before having consumed the full request.
A "normal" close should do it in this case.

The default is now "normal" close on the server-side, so at least the TCP part is covered, only the logging and header modifications are needed by this ticket.

@drewhk Just to confirm: With the current TCP IO implementation, stream completion on the outgoing side sends a FIN but keeps the incoming (reading) side open until it is either also completed (the peer's FIN received) or canceled, right?

So, for a "confirmed close" I'd have to complete the outgoing stream and wait for completion on the incoming stream. A "hard close" would be a complete on the outgoing side and a cancel on the incoming side. And an "abort" would be error-completion on the outgoing side?

> With the current TCP IO implementation, stream completion on the outgoing side sends a FIN but keeps the incoming (reading) side open until it is either also completed (the peer's FIN received) or canceled, right?

This is if you use the `halfClose=true` parameter. Otherwise it will translate to a normal socket `close()` (whatever it does).

> So, for a "confirmed close" I'd have to complete the outgoing stream and wait for completion on the incoming stream.

Yes. This can still work in `halfClose=off` if the server is only responding to client requests (i.e. it is always the client that closes first).

>  A "hard close" would be a complete on the outgoing side and a cancel on the incoming side. 

Or using `halfClose=off` and simply closing the outgoing side. This is the default behavior for incoming connections.

> And an "abort" would be error-completion on the outgoing side?

yes, which translates to RST.

Ok, thanks, Endre!

Would it be possible to support some sort of hybrid behaviour? If I send an error response early, adding the connection close and closing the outgoing stream properly is good, and allows well-behaved clients (conforming to RFC 7230 section 6.5) to close the incoming side cleanly (with a FIN).

However if I have a badly behaved client (doesn't read early responses) I just want to abort the connection (after some delay) to avoid uselessly reading a potentially large request body.

See https://github.com/spray/spray/issues/1080 for the same thing in Spray.